@font-face {
    font-family: "Roboto";
    src: url("../../polices//web fonts/Roboto_Regular_macroman/Roboto-Regular-webfont.woff") format('truetype');
}
@font-face {
  font-family: "Roboto_thin";
  src: url("../../polices//web fonts/roboto_thin_macroman/Roboto-Thin-webfont.woff") format('truetype');
}

@font-face {
    font-family: "Shrikhand";
    src: url("../../font/Shrikhand-Regular.ttf")  format('truetype');
}
// ********************
$color_primary:#9356DC;
$color_secondary:#FF79DA;
$color_tertiary:#99E2D0;
$box-shadow:0px 4px 13px -4px rgba(0,0,0,0.58);

// *****************************************
@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
@mixin button
{
    padding: 10px;
    background: linear-gradient( 176deg,$color_secondary, $color_primary);
    color: white;
    border: 0px ;
    text-decoration: none;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.45));
}

@keyframes content {
	0% {
		transform: translateX(-9999px);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes spin {
0% 
{ 
transform: rotate(0deg);
 }
 50%
 {
transform: rotate(360deg);
opacity: 0.5;
 }
100%
 { 
transform: rotate(720deg);
opacity:0;
 }
}

// ********************
.body {
  font-family: "Roboto", serif;
  font-size: large;
   }
  .ohmyfoodHead {
    @include flexbox-center;
    height: 100px;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.20);
    position: relative;
    img{
      width: 33%;
    }
  }
  #page
  {
    font-family: "Roboto", serif;
    margin: auto;
    width: 99%;
  }
  #logofood
{
	margin-top: 20px;
	margin-bottom: 15px;
	text-align: center;
}
#logo
{
	width: 200px;
	align-items: center;
	margin: auto;
}
#localisation
{
	display: flex;
	justify-content: center;
	border-top: 3px solid rgb(206, 206, 206);
	background-color:rgb(233, 233, 233);
}
#logopin
{
	margin-top: 22px;
	margin-right: 15px;
}
#section_1 
{
	display:flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 100px;
		p
		{
			font-size: 19px;
		}
			h1
			{
			font-size: 28px;
			width: 80%;
			margin: auto;
			}
				h2 
				{
					margin-top: 100px
				}
}

  #exploreur
  {
    @include button;
    border-radius: 20px;
	  width: 50%;
	  margin: auto;
  }
  #section_1 h2
{
	text-align: left;
}

#fonctionnement ul
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 230px;
	padding: 0px;
	margin: auto;
	align-items: center;
}
#fonctionnement li
{
	display: flex;
	width: 80%;
	justify-content: space-evenly;
	align-items: center;
}
.textblock
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	box-shadow:$box-shadow;
	border-radius: 20px;
	padding: 17px 17px 17px 25px;
	#iconepurple
	{
		color:$color_primary;
	}
}
#textepurple
{
	background-color:#eee1ea ;
}
.texteliste
{
	margin: 0;
}
.number
{
	color: white;
	position: relative;
	left: 15px;
	background-color: $color_primary;
	padding: 2px;
	border-radius: 100%;
	width: 22px;
	height: 22px;
}

#listerestaurants
{
	margin: auto;
	text-align: center;
  display: flex;
  flex-direction: column;
}
main h2
{
	text-align: left;
}

.new p
{
	position: relative;
  top: -180px;
  right: 20px;
	float: right;
	background-color: $color_tertiary;
	width: 60px;
  padding: 5px;
	text-decoration: none;
	color: #205549;
}

.annonce
{
	border-radius: 20px;
	box-shadow:$box-shadow;
	margin-bottom: 30px;
}
.foodimg img
{
  position: inherit;
	height: 200px;
	border-radius: 20px 20px 0px 0px;
	width: 100%;
	object-fit: cover;
}
.texte_annonce
{
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	margin: auto;
	width: 290px;
		p,h3
		{
			font-family: "Roboto";
			margin: 0%;
		}
			a 
			{
				text-decoration: none;
				color: black;
			}
}


footer
{
	display: flex;
	margin-top: 50px;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.774);
	align-items: left;
	padding-left: 10px;
		ul 
		{
			list-style-type: none;
			padding: 0;
		}
			li a
			{
				margin-top: 10px;
				text-decoration: none;
				color: white;
			}
				li 
				{
					margin-top: 5px;
				}
				#application_name
				{
				  margin-top: 5px;
				  font-family: "Shrikhand";
				  color: white;
				  font-size: 120%;
				}
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 70px;
	height: 70px;
	margin: -36px 0 0 -36px;
	border: 12px solid $color_secondary;
	border-radius: 50%;
	border-top: 12px solid $color_primary;
	border-bottom: 12px solid $color_primary;
	animation: spin 5s;
	animation-duration: 4900ms;
	animation-fill-mode: forwards;
  }
  .content {
	position: relative;
	-webkit-animation-name: content;
	-webkit-animation-duration: 1s;
	animation-name: content;
	animation-duration: 5000ms;
  }
  
  .fa-heart {
	font-size: 34px;
	margin-right: 24px;
	background: linear-gradient(180deg, #a73dfd 0%, #f16eca 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 0;
  }
  
  .full {
	text-decoration: none;
  }
  
  .full:hover .fa-heart-o,
  .full .fa-heart {
	display: none;
  }
  
  .full:hover .fa-heart {
	display: inline;
  }
  
  .fa-heart-o {
	color: black;
	font-size: 34px;
	margin-right: 24px;
  }

  @media screen and (min-width: 768px)
  {
	#fonctionnement ul
	  {
		  display: flex;
		  flex-direction: inherit;
		  width: 85%;
		  	li 
			  {
				  width: 30%;
			  }
		  .textblock
		  {
			  justify-content: space-evenly;
		  }
	  }
	  #restaurants h2
	  {
		  text-align: center;
		  justify-content: center;
	  }
	  #listerestaurants
	{
	margin: auto;
	text-align: center;
 	display: flex;
	 flex-direction: inherit;
	 flex-wrap: wrap;
	 justify-content: center;
	 align-items: center;
	 width: 98%;
	}
	.annonce
	{
		width: 45%;
		margin-right: 40px;
	}
  }