@font-face {
  font-family: "Roboto";
  src: url("../../polices//web fonts/Roboto_Regular_macroman/Roboto-Regular-webfont.woff") format("truetype");
}
@font-face {
  font-family: "Roboto_thin";
  src: url("../../polices//web fonts/roboto_thin_macroman/Roboto-Thin-webfont.woff") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../../font/Shrikhand-Regular.ttf") format("truetype");
}
@keyframes chargement {
  0% {
    visibility: hidden;
    transform: translateY(10vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
#page {
  font-family: "roboto", serif;
  margin: auto;
  width: 99%;
}

#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 2%;
}
#head .back {
  width: 50%;
  font-size: 130%;
  font-weight: 600;
}
#head #logo {
  margin-top: 5%;
  height: 35px;
}

.restaurant_img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

h2 {
  border-bottom: 5px solid #99E2D0;
  width: 50px;
  font-family: "Roboto_thin";
}

.titre_restaurant {
  font-family: "Shrikhand";
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  border-radius: 25px;
  top: 230px;
  background-color: white;
}
.titre_restaurant .heart {
  font-size: 155%;
}

main {
  border-radius: 30px 30px 0px 0px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.menu {
  font-family: "Roboto";
  box-shadow: 1px 3px 10px 2px #b6b5b5;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 98%;
  margin: auto;
  margin-bottom: 20px;
}

.plats {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80px;
  padding-left: 10px;
}
.plats h3 {
  margin: 0;
}
.plats p {
  margin: 0;
}

.hoverslide {
  position: absolute;
  border-radius: 0px 20px 20px 0px;
  background-color: #99E2D0;
  overflow: hidden;
  display: hidden;
  right: 0;
  width: 0;
  height: 100%;
  transition: 0.3s ease-in-out;
}
.hoverslide .check {
  color: white;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 30%;
  font-size: 150%;
}

.menu:hover .hoverslide {
  position: relative;
  width: 30%;
  left: 0;
}

.menu:hover .check {
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.prix {
  justify-content: flex-end;
  height: 80px;
  padding-right: 10px;
  font-weight: 600;
}
.prix p {
  margin-top: 200%;
}

#commande {
  padding: 10px;
  background: linear-gradient(176deg, #FF79DA, #9356DC);
  color: white;
  border: 0px;
  text-decoration: none;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.45));
  border-radius: 20px;
  width: 50%;
  margin: 50px auto 20px auto;
  font-size: 150%;
  text-align: center;
}

footer {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.774);
  align-items: left;
  padding-left: 10px;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer li a {
  margin-top: 10px;
  text-decoration: none;
  color: white;
  display: flex;
}
footer li {
  margin-top: 5px;
}
footer #application_name {
  margin-top: 5px;
  font-family: "Shrikhand";
  color: white;
  font-size: 120%;
}

.iconefooter {
  display: flex;
  width: 375px;
}

.animation1 {
  animation-name: chargement;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 300ms;
}

.animation2 {
  animation-name: chargement;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 500ms;
}

.animation3 {
  animation-name: chargement;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 700ms;
}

.animation4 {
  animation-name: chargement;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 900ms;
}

.animation5 {
  animation-name: chargement;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1100ms;
}

.animation6 {
  animation-name: chargement;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1300ms;
}

.animation7 {
  animation-name: chargement;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1500ms;
}

.animation8 {
  animation-name: chargement;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1700ms;
}

.animation9 {
  animation-name: chargement;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1900ms;
}

.animation10 {
  animation-name: chargement;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1900ms;
}

/*# sourceMappingURL=secondary.css.map */
